@import "tailwindcss";
@plugin "daisyui" {
  themes: emerald;
}
@plugin "daisyui/theme" {
  name: "emerald";
  default: true;
  --color-primary: #04A777;
  --color-secondary: #F75C03;
	--color-neutral: #291720;
	--color-base-content: #291720;
}
